
html,body
{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: visible;
}

.full-page{
  padding-top: 5%;
  min-height: 100vh;
}

.personal-description {
  margin-bottom: 5%;
}

#personal-statement {
  background-image: url('../img/code.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: #3d3b3b;
  text-align: center;
  min-height: 100vh;
}

.icon-links {
  font-size: 4em;
  color: white;
}

.statement-text {
  padding-top: 15%;
  font-size: 5em;
}


.highlighted {
  background-color: rgba(0,0,0,.65);
}

#contact-form {
  padding-top: 5%;
}
